In [1]:
%pip install pandas

import boto3
import pandas as pd
from io import StringIO
import time

^C
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 627.8 kB/s eta 0:00:17
   -- ------------------------------------- 0.8/11.0 MB 849.7 kB/s eta 0:00:13
   ----- ---------------------------------- 1.6/11.0 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 4.7/11.0 MB 3.8 MB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 6.7 MB/s eta 0:00:00
Downloading numpy-2.3.1-cp313-cp313-win_amd64.whl (12.7 MB)
   ---------------------------------------- 0.0/12.7 MB ? eta -:--:--
   ---------------------- ----------------- 7.1/12.7 MB 27.0 MB/s eta 0:00:01
   -------------------------------------- - 12.3/12.7 MB 25.5 MB/s eta 0:00:01
   ---------------------------------------- 12.7/12.7 MB 19.6 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.1 pandas-2.3.1 pytz-2025.2 tzdata-2025.2

ModuleNotFoundError: No module named 'boto3'

In [2]:
AWS_ACCESS_KEY = "AKIAXWVJQ72VKH44PZF2"
AWS_SECRET_KEY = "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"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "olympic-db"
S3_STAGING_DIR = "olympic-class-project/athena-query-results/"
S3_STAGING_DIR_Query = 'athena-query-results'
S3_BUCKET_NAME = "olympic-class-project"
S3_OUTPUT_DIRECTORY = "Output-data"

In [ ]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [6]:
athena_client

In [7]:
Dict = {}

def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    print("Starting")
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    print(temp_file_location)
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_STAGING_DIR_Query}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [8]:
response = athena_client.start_query_execution(
QueryString="SELECT * FROM athletes",
QueryExecutionContext={"Database": SCHEMA_NAME},
ResultConfiguration={ "OutputLocation": S3_STAGING_DIR,
"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}, },
)

athletes = download_and_load_query_results(athena_client, response)
athletes.rename(columns={'name': 'athlete_name'}, inplace=True)

athletes.head()

Starting
athena_query_results.csv

,athlete_name,short_name,gender,birth_date,birth_place,birth_country,country,country_code,discipline,discipline_code,residence_place,residence_country,height_m/ft,url
0,AALERUD Katrine,AALERUD K,Female,1994-12-04,VESTBY,Norway,Norway,NOR,Cycling Road,CRD,NaN,NaN,NaN,../../../en/results/cycling-road/athlete-profi...
1,ABAD Nestor,ABAD N,Male,1993-03-29,ALCOI,Spain,Spain,ESP,Artistic Gymnastics,GAR,MADRID,Spain,1.65/5'4'',../../../en/results/artistic-gymnastics/athlet...
2,ABAGNALE Giovanni,ABAGNALE G,Male,1995-01-11,GRAGNANO,Italy,Italy,ITA,Rowing,ROW,SABAUDIA,Italy,1.98/6'5'',../../../en/results/rowing/athlete-profile-n13...
3,ABALDE Alberto,ABALDE A,Male,1995-12-15,FERROL,Spain,Spain,ESP,Basketball,BKB,NaN,NaN,2.00/6'6'',../../../en/results/basketball/athlete-profile...
4,ABALDE Tamara,ABALDE T,Female,1989-02-06,VIGO,Spain,Spain,ESP,Basketball,BKB,NaN,NaN,1.92/6'3'',../../../en/results/basketball/athlete-profile...

In [9]:
response = athena_client.start_query_execution(
QueryString="SELECT * FROM medals",
QueryExecutionContext={"Database": SCHEMA_NAME},
ResultConfiguration={ "OutputLocation": S3_STAGING_DIR,
"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}, },
)

medals = download_and_load_query_results(athena_client, response)
medals.head()

Starting
athena_query_results.csv

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,country_code,discipline_code,event,country,discipline
0,Gold Medal,1,2021-07-24 00:00:00.0,KIM JD,KIM Je Deok,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
1,Gold Medal,1,2021-07-24 00:00:00.0,AN S,AN San,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
2,Silver Medal,2,2021-07-24 00:00:00.0,SCHLOESSER G,SCHLOESSER Gabriela,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
3,Silver Medal,2,2021-07-24 00:00:00.0,WIJLER S,WIJLER Steve,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
4,Bronze Medal,3,2021-07-24 00:00:00.0,ALVAREZ L,ALVAREZ Luis,X,../../../en/results/archery/athlete-profile-n1...,MEX,ARC,Mixed Team,Mexico,Archery

In [10]:
response = athena_client.start_query_execution(
QueryString="SELECT * FROM coaches",
QueryExecutionContext={"Database": SCHEMA_NAME},
ResultConfiguration={ "OutputLocation": S3_STAGING_DIR,
"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}, },
)

coaches = download_and_load_query_results(athena_client, response)
athletes.rename(columns={'country_code': 'country_code_coh'}, inplace=True)

coaches.head()

Starting
athena_query_results.csv

,name,short_name,gender,birth_date,country_code,discipline,function,event,url
0,ABDELMAGID Wael,ABDELMAGID W,Male,1982-08-02,EGY,Football,Head Coach,NaN,../../../en/results/football/athlete-profile-n...
1,ABE Junya,ABE J,Male,1990-07-25,JPN,Volleyball,Head Coach,NaN,../../../en/results/volleyball/athlete-profile...
2,ABE Katsuhiko,ABE K,Male,1979-09-23,JPN,Basketball,Coach,NaN,../../../en/results/basketball/athlete-profile...
3,ADAMA Cherif,ADAMA C,Male,1962-05-06,CIV,Football,Head Coach,NaN,../../../en/results/football/athlete-profile-n...
4,AGEBA Yuya,AGEBA Y,Male,1983-09-30,JPN,Volleyball,Head Coach,NaN,../../../en/results/volleyball/athlete-profile...

In [11]:
response = athena_client.start_query_execution(
QueryString="SELECT * FROM medals_total",
QueryExecutionContext={"Database": SCHEMA_NAME},
ResultConfiguration={ "OutputLocation": S3_STAGING_DIR,
"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}, },
)

medals_total = download_and_load_query_results(athena_client, response)
medals_total.rename(columns={'country code': 'country_code'}, inplace=True)
medals_total.head()

Starting
athena_query_results.csv

,rank,country_code,gold medal,silver medal,bronze medal,total,country
0,1,USA,39,41,33,113,United States of America
1,2,CHN,38,32,18,88,People's Republic of China
2,3,JPN,27,14,17,58,Japan
3,4,GBR,22,21,22,65,Great Britain
4,5,ROC,20,28,23,71,ROC

In [12]:
response = athena_client.start_query_execution(
QueryString="SELECT * FROM technical_officials",
QueryExecutionContext={"Database": SCHEMA_NAME},
ResultConfiguration={ "OutputLocation": S3_STAGING_DIR,
"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}, },
)

technical_officials = download_and_load_query_results(athena_client, response)
technical_officials.head()

Starting
athena_query_results.csv

,name,short_name,gender,birth_date,country,discipline,function,url
0,ABAEVA Elena,ABAEVA E,Female,1966-04-21,Uzbekistan,Wrestling,Judge,../../../en/results/wrestling/athlete-profile-...
1,ABBAR Bachir,ABBAR B,Male,1965-05-03,Morocco,Boxing,Judge,../../../en/results/boxing/athlete-profile-n15...
2,ABDELLATIF Makfouni,ABDELLATIF M,Male,1972-11-23,Morocco,Boxing,Judge,../../../en/results/boxing/athlete-profile-n15...
3,ABE Miya,ABE M,Female,1992-10-27,Japan,Beach Volleyball,Referee,../../../en/results/beach-volleyball/athlete-p...
4,ACIGA FULA Antonio Stephen,ACIGA FULA AS,Male,1957-11-28,Uganda,Boxing,Judge,../../../en/results/boxing/athlete-profile-n15...

In [13]:
# dimCountry = athletes[[' ']]
# dimMedals = medals[['']]
# dimCoaches = coaches[['','']]
# dimAthletes = athletes[['','']]
# dimMedalstotals= medals_total[['','']]
# dimTechnicalOfficials = technical_officials[['','']]
# factOlympics =

In [14]:
print(medals_total.columns)

Index(['rank', 'country_code', 'gold medal', 'silver medal', 'bronze medal',
       'total', 'country'],
      dtype='object')

In [15]:
dimCountry = athletes[['birth_place', 'birth_country', 'country', 'country_code', 'residence_place', 'residence_country']]

dimMedals = medals[['medal_type', 'medal_code', 'athlete_short_name', 'athlete_name', 'athlete_sex', 
                    'country_code', 'discipline_code', 'event', 'country', 'discipline']]

dimCoaches = coaches[['name', 'short_name', 'gender', 'birth_date', 'country_code', 
                      'discipline', 'function', 'event']]

dimAthletes = athletes[['athlete_name', 'short_name', 'gender', 'birth_date', 'discipline', 
                        'discipline_code', 'height_m/ft']]

dimMedals_Totals = medals_total[['rank', 'country_code', 'gold medal', 'silver medal', 
                                'bronze medal', 'total', 'country']]

dimTechnical_Officials = technical_officials[['name', 'short_name', 'gender', 'birth_date', 
                                             'country', 'discipline', 'function']]

KeyError: "['country_code'] not in index"

In [ ]:
factOlympics = athletes.merge(medals, on='athlete_name', how='left') \
                       .merge(medals_total, left_on='country_code_x', right_on='country_code', how='left') \
                       .merge(coaches, left_on='country_code_x', right_on='country_code', how='left', suffixes=('', '_coach'))
factOlympics.columns

,athlete_name,short_name,gender,birth_date,birth_place,birth_country,country_x,country_code_x,discipline_x,discipline_code_x,...,country,name,short_name_coach,gender_coach,birth_date_coach,country_code_coach,discipline,function,event_coach,url_coach
0,AALERUD Katrine,AALERUD K,Female,1994-12-04,VESTBY,Norway,Norway,NOR,Cycling Road,CRD,...,Norway,BERGE Christian,BERGE C,Male,1973-07-19,NOR,Handball,Coach,Men,../../../en/results/handball/athlete-profile-n...
1,AALERUD Katrine,AALERUD K,Female,1994-12-04,VESTBY,Norway,Norway,NOR,Cycling Road,CRD,...,Norway,BREIVIK Marit,BREIVIK M,Female,1955-04-10,NOR,Handball,Coach,NaN,../../../en/results/handball/athlete-profile-n...
2,AALERUD Katrine,AALERUD K,Female,1994-12-04,VESTBY,Norway,Norway,NOR,Cycling Road,CRD,...,Norway,HERGEIRSSON Thorir,HERGEIRSSON T,Male,1964-04-27,NOR,Handball,Coach,Women,../../../en/results/handball/athlete-profile-n...
3,ABAD Nestor,ABAD N,Male,1993-03-29,ALCOI,Spain,Spain,ESP,Artistic Gymnastics,GAR,...,Spain,ALLER CARBALLO Manuel Angel,ALLER CARBALLO MA,Male,1963-04-17,ESP,Basketball,Coach,NaN,../../../en/results/basketball/athlete-profile...
4,ABAD Nestor,ABAD N,Male,1993-03-29,ALCOI,Spain,Spain,ESP,Artistic Gymnastics,GAR,...,Spain,AMO AGUADO Pablo,AMO AGUADO P,Male,1978-01-15,ESP,Football,Head Coach,NaN,../../../en/results/football/athlete-profile-n...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104132,ZYUZINA Ekaterina,ZYUZINA E,Female,1996-12-08,LIPETSK,Russian Federation,ROC,ROC,Sailing,SAL,...,ROC,SAMMELVUO Tuomas,SAMMELVUO T,Male,1976-02-16,ROC,Volleyball,Head Coach,Men,../../../en/results/volleyball/athlete-profile...
104133,ZYUZINA Ekaterina,ZYUZINA E,Female,1996-12-08,LIPETSK,Russian Federation,ROC,ROC,Sailing,SAL,...,ROC,VORONOVA Elena,VORONOVA E,Female,1991-03-22,ROC,Artistic Swimming,Coach,Duet,../../../en/results/artistic-swimming/athlete-...
104134,ZYZANSKA Sylwia,ZYZANSKA S,Female,1997-07-27,NaN,NaN,Poland,POL,Archery,ARC,...,Poland,BANBULA Wojciech,BANBULA W,Male,1988-12-25,POL,Volleyball,Head Coach,NaN,../../../en/results/volleyball/athlete-profile...
104135,ZYZANSKA Sylwia,ZYZANSKA S,Female,1997-07-27,NaN,NaN,Poland,POL,Archery,ARC,...,Poland,HEYNEN Vital,HEYNEN V,Male,1969-06-12,POL,Volleyball,Head Coach,Men,../../../en/results/volleyball/athlete-profile...
104136,ZYZANSKA Sylwia,ZYZANSKA S,Female,1997-07-27,NaN,NaN,Poland,POL,Archery,ARC,...,Poland,WOICKI Pawel,WOICKI P,Male,1983-06-29,POL,Volleyball,Head Coach,NaN,../../../en/results/volleyball/athlete-profile...

In [ ]:
factOlympics = athletes.merge(medals, on='athlete_name', how='left') \
                       .merge(coaches, on='country_code', how='left') \
                       .merge(technical_officials, on=['discipline', 'country'], how='left')

# Now check the columns
print(factOlympics.columns)

Index(['athlete_name', 'short_name_x', 'gender_x', 'birth_date_x',
       'birth_place', 'birth_country', 'country', 'country_code',
       'discipline_x', 'discipline_code', 'residence_place',
       'residence_country', 'height_m/ft', 'url_x', 'name', 'short_name_y',
       'gender_y', 'birth_date_y', 'discipline_y', 'function', 'event',
       'url_y'],
      dtype='object')

In [80]:
import io

# Dictionary of file names and corresponding DataFrames
tables = {
    'dimCountry.csv': dimCountry,
    'dimMedals.csv': dimMedals,
    'dimCoaches.csv': dimCoaches,
    'dimAthletes.csv': dimAthletes,
    'dimMedals_Totals.csv': dimMedals_Totals,
    'dimTechnical_Officials.csv': dimTechnical_Officials,
    'factOlympics.csv': factOlympics
}

# S3 resource
# S3 resource with keys
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY
)

# Upload each DataFrame to S3 with full path
for filename, df in tables.items():
    csv_buffer = io.StringIO()
    df.to_csv(csv_buffer, index=False)
    
    s3_key = f"{S3_OUTPUT_DIRECTORY}{filename}"  # e.g., olympics-output/dimCountry.csv
    print(s3_key)
    s3_resource.Object(S3_BUCKET_NAME, s3_key).put(Body=csv_buffer.getvalue())
    print(f"Uploaded to: s3://{S3_BUCKET_NAME}/{s3_key}")

data-output/dimCountry.csv
Uploaded to: s3://olympics-dataset-ayan/data-output/dimCountry.csv
data-output/dimMedals.csv
Uploaded to: s3://olympics-dataset-ayan/data-output/dimMedals.csv
data-output/dimCoaches.csv
Uploaded to: s3://olympics-dataset-ayan/data-output/dimCoaches.csv
data-output/dimAthletes.csv
Uploaded to: s3://olympics-dataset-ayan/data-output/dimAthletes.csv
data-output/dimMedals_Totals.csv
Uploaded to: s3://olympics-dataset-ayan/data-output/dimMedals_Totals.csv
data-output/dimTechnical_Officials.csv
Uploaded to: s3://olympics-dataset-ayan/data-output/dimTechnical_Officials.csv
data-output/factOlympics.csv
Uploaded to: s3://olympics-dataset-ayan/data-output/factOlympics.csv

In [ ]:
%pip install redshift-connector

In [ ]:
import redshift_connector
import logging

# logging.basicConfig(level=logging.DEBUG)
try:
    conn = redshift_connector.connect(
        host='',
        database='',
        user='',
        password='',
        ssl=True,
        timeout=60  # Increase the timeout if the connection takes longer
    )
    print(conn)
except redshift_connector.Error as e:
    print(f"Error: {e}")

<redshift_connector.core.Connection object at 0x0000026C2ECEEFB0>

In [16]:
# Enabling autocommit
conn.autocommit = True

# Creating a cursor object
cursor = conn.cursor()

# Create dimCountry
cursor.execute("""
CREATE TABLE "dimCountry" (
    "birth_place" VARCHAR,
    "birth_country" VARCHAR,
    "country" VARCHAR,
    "country_code" VARCHAR,
    "residence_place" VARCHAR,
    "residence_country" VARCHAR
)
""")

# Create dimMedals
cursor.execute("""
CREATE TABLE "dimMedals" (
    "medal_type" VARCHAR,
    "medal_code" INTEGER,
    "athlete_short_name" VARCHAR,
    "athlete_name" VARCHAR,
    "athlete_sex" VARCHAR,
    "country_code" VARCHAR,
    "discipline_code" VARCHAR,
    "event" VARCHAR,
    "country" VARCHAR,
    "discipline" VARCHAR
)
""")

# Create dimCoaches
cursor.execute("""
CREATE TABLE "dimCoaches" (
    "name" VARCHAR,
    "short_name" VARCHAR,
    "gender" VARCHAR,
    "birth_date" DATE,
    "country_code" VARCHAR,
    "discipline" VARCHAR,
    "function" VARCHAR,
    "event" VARCHAR
)
""")

# Create dimAthletes
cursor.execute("""
CREATE TABLE "dimAthletes" (
    "athlete_name" VARCHAR,
    "short_name" VARCHAR,
    "gender" VARCHAR,
    "birth_date" DATE,
    "discipline" VARCHAR,
    "discipline_code" VARCHAR,
    "height_m/ft" VARCHAR
)
""")

# Create dimMedals_Totals
cursor.execute("""
CREATE TABLE "dimMedals_Totals" (
    "rank" INTEGER,
    "country_code" VARCHAR,
    "gold medal" INTEGER,
    "silver medal" INTEGER,
    "bronze medal" INTEGER,
    "total" INTEGER,
    "country" VARCHAR
)
""")

# Create dimTechnical_Officials
cursor.execute("""
CREATE TABLE "dimTechnical_Officials" (
    "name" VARCHAR,
    "short_name" VARCHAR,
    "gender" VARCHAR,
    "birth_date" DATE,
    "country" VARCHAR,
    "discipline" VARCHAR,
    "function" VARCHAR
)
""")

# Example: Create factOlympics (simplified — update based on your actual columns)
cursor.execute("""
CREATE TABLE "factOlympics" (
    "athlete_name" VARCHAR,
    "short_name" VARCHAR,
    "gender" VARCHAR,
    "birth_date" DATE,
    "birth_place" VARCHAR,
    "birth_country" VARCHAR,
    "country" VARCHAR,
    "country_code" VARCHAR,
    "discipline" VARCHAR,
    "discipline_code" VARCHAR,
    "residence_place" VARCHAR,
    "residence_country" VARCHAR,
    "height_m/ft" VARCHAR
    -- Add more columns here based on your final factOlympics DataFrame
)
""")

In [17]:
cursor.execute("""
copy dimathletes from 's3://olympics-dataset-ayan/data-output/dimAthletes.csv'
credentials 'aws_iam_role=arn:aws:iam::975050334693:role/service-role/AmazonRedshift-CommandsAccessRole-20250712T005113'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1;
""")